@using OA.EntityLayer.Requests.ArticleRequests
@model ResultArticleRequest

<div class="position-relative mb-3">
	<img class="img-fluid w-100" src="@Url.Content(Model.MainMediaPath)" style="object-fit: cover;">
	<div class="bg-white border border-top-0 p-4">
		<div class="mb-3">
			<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
			   href="">@Model.CategoryName</a>
			<a class="text-body" href="">@Model.CreatedAt</a>
		</div>
		<h1 class="mb-3 text-secondary text-uppercase font-weight-bold">@Model.MainTitle</h1>
		<p>
			@Model.MainText
		</p>
		<h3 class="text-uppercase font-weight-bold mb-3">@Model.FirstTitle</h3>
		<img class="img-fluid w-50 float-left mr-4 mb-2" src="@Url.Content(Model.FirstMediaPath)">
		<p>
			@Model.FirstText
		</p>
		<h5 class="text-uppercase font-weight-bold mb-3">@Model.SecondTitle</h5>
		<img class="img-fluid w-50 float-right mr-4 mb-2" src="@Url.Content(Model.SecondMediaPath)">
		<p>
			@Model.SecondText
		</p>
	</div>
	<div class="d-flex justify-content-between bg-white border border-top-0 p-4">
		<div class="d-flex align-items-center">
			<img class="rounded-circle mr-2" src="@Url.Content(Model.ImageUrl)" width="25" height="25" alt="">
			<span>@Model.FullName</span>
		</div>
		<div class="d-flex align-items-center">
			<span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
			<span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
		</div>
	</div>
</div>