@using OA.EntityLayer.Requests.UserRequests
@model List<ResultUserRequest>

@{
	ViewData["Title"] = "Manage";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container comment-page">
	<h3 class="text-center mb-4">Kullanıcı Yönetimi</h3>
	<div class="col-12">
		<div class="bg-light rounded h-100 p-4">
			<h6 class="mb-4">Kullanıcılar</h6>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Rol</th>
							<th scope="col">Kullanıcı Adı</th>
							<th scope="col">Tam Adı</th>
							<th scope="col">Email</th>
							<th scope="col">Kayıt Tarihi</th>
							<th scope="col">Son Giriş</th>
							<th scope="col">Hesap Durumu</th>
							<th scope="col">Engel Durumu</th>
							<th scope="col">Hesap Detayları</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.RoleName</td>
								<td>@item.Username</td>
								<td>@item.FullName</td>
								<td>@item.Email</td>
								<td>@item.CreatedAt</td>
								<td>@item.LastLogin</td>
								@if (item.Status == true)
								{
									<td>Hesap Aktif</td>
								}
								else
								{
									<td style="background-color:brown">Hesap Pasif</td>
								}
								@if (item.IsBlocked == true)
								{
									<td style="background-color:orangered">Hesap Engellendi</td>
								}
								else
								{
									<td style="background-color:greenyellow">Hesap Olumlu</td>
								}
								<td><a class="btn btn-primary" href="/Admin/User/GetUser/@item.UserId">Detaylar</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
